{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!<br />
  This is home.html page.<b />
  <p><a href="{% url 'logout' %}">logout</a></p>
  <p><a href="{% url 'password_reset' %}">reset password</a></p>

  <table>
    <tr>
      <td>
        Bob
      </td>
      <td>
        123
      </td>
    </tr>
  </table>
{% else %}
  <p>Bye.<br />You are not logged in anymore.<br /></p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
