<html>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

<script>

    $(function() {


   var info = [];

   $.getJSON('accountInfo.json', function(data) {
       $.each(data, function(i, f) {
          var tblRow = "<tr>" + "<td>" + f.email + "</td>" +
           "<td>" + f.pass + "</td>" + "</tr>"
           $(tblRow).appendTo("#userdata tbody");
     });

   });

});
</script>
</head>

<body>
  <p>Your money is currently being invested. Open your Robinhood account to see it in action.</p>
<div class="wrapper">
  <div class="profile">
     <table id="userdata" border="2">
          <thead>
              <th>Robinhood Email</th>
              <th>Robinhood Password</th>
              <th>Capital to Invest</th>
          </thead>
          <tbody>

          </tbody>
     </table>
  </div>
</div>

</body>
</html>
